<!DOCTYPE html>
<html>
<head>
    <title>Tabby information</title>
</head>
<body>
<div>Tabby allows you to buy the things you love now and pay later.</div>

<div>Simply select Tabby at checkout, provide some details and confirm your purchase with an SMS code. No payment
    required!
</div>

<div>Once your order is delivered, you'll have 14 days to pay using your credit or debit card from your Tabby account.
    Voila!
</div>

<div>A fee of 10 AED may apply.</div>
<style>
    div {
        margin: 20px;
        font-size: 16px;
    }
</style>
</body>
</html>
