<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_import_bunch_save_after">
        <observer name="truncate_import_data_table" instance="Sparkminds\AutoTruncate\Observer\TruncateImportData" />
    </event>
</config>
