.blog-list .post-item-info {
	margin-bottom: 100px
}

.blog-list .post-item-info .post-content .post-short-description {
	margin-bottom: 1.3em
}

.blog-list .post-item-info .post-content .post-short-description p{
    font-size: 14px;
}

.blog-list .post-item-info .post-content .post-short-description>*:last-child {
	margin-bottom: 0
}

.blog-list .post-item-info .post-content .post-link a.button{
    font-weight: 500;
}

.blog-list .post-item-info .post-content .post-link a.button .screen-reader-text{
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

.blog-list .post-item-info .post-info {
	text-align: center;
	padding: 20px;
	background: rgba(0, 0, 0, .9);
	color: #878787;
	font-size: 12px;
	line-height: 21px
}


.blog-list .post-item-info .post-info h2 {
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-top: 10px;
    letter-spacing: 0;
    margin-top: 0;
    min-height: 43px;
    font-size: 18px;
    font-weight: 600;
}

.blog-list .post-item-info .post-info .post-tags a:not(:last-child):after {
	content: ",";
	color: #878787
}

.blog-list .post-item-info .post-image.has-image {
	position: relative
}

.blog-list .post-item-info .post-image.has-image .post-info {
	position: absolute;
	bottom: 30px;
	left: 30px;
	right: 30px
}

.blog-list .post-item-info .published-by .text-capitalize {
	color: #fff
}

.blog-post-view .post-item-info .post-short-description {
	margin-bottom: 0;
	margin-top: 30px
}

.blog-post-view .post-item-info .post-short-description .entry-content p{
    font-size: 14px;
}

.blog-post-view .post-item-info .post-short-description .entry-content a{
    color: #d60000;
}

.blog-post-view .post-item-info .post-short-description .entry-content ul,
.blog-post-view .post-item-info .post-short-description .entry-content ol{
    padding: 0;
    margin: 0 0 1rem 15px;
    font-size: 14px;
}

.blog-post-view .post-item-info .post-short-description .entry-content h2,
.blog-post-view .post-item-info .post-short-description .entry-content h3,
.blog-post-view .post-item-info .post-short-description .entry-content h4{
    font-weight: bold;
}

.blog-post-view .post-comments {
	margin-top: 65px;
	margin-bottom: 35px
}

.blog-post-view .post-comments .title-comment-content {
	font-size: 17px;
	color: #2a2a2a;
	margin-bottom: 25px;
	display: block;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px
}

.blog-post-view .post-comments .title-comment-content span {
	font-size: 14px;
	position: relative;
	color: #c9c9c9
}

.blog-post-view .post-comments .item {
	padding: 18px 28px 16px;
	background: #f8f8f8;
	margin-bottom: 28px;
	color: #8e8e8e
}

.blog-post-view .post-comments .item .info {
	margin-bottom: 7px;
	color: #2a2a2a;
	font-size: 14px
}

.blog-post-view .post-comments .item .info .name {
	font-weight: 600;
	margin-right: 38px
}

.blog-post-view .post-comments .item:last-child {
	margin-bottom: 0
}

.blog-post-view .post-comments .item .sub-title {
	font-style: italic;
	margin-bottom: 0
}

.blog-post-view .post-comments .title {
	font-size: 17px;
	color: #2a2a2a;
	margin-bottom: 2px;
	display: block;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px
}

.blog-post-view .post-comments .sub-title {
	font-style: italic;
	margin-bottom: 30px
}

.blog-post-view .post-item-info .post-info {
    padding: 15px 0 15px;
    border-bottom: 1px solid #eee;
    color: #000;
    font-size: 14px;
    border-top: 1px solid #eee;
}

.blog-post-view .post-item-info .post-info>div {
	display: inline-block;
	margin-right: 26px
}

.blog-post-view .post-item-info .post-info>div .fa {
	margin-right: 10px;
	color: #d60000
}

.blog-post-view .post-item-info .post-info a {
	color: #222
}

.blog-post-view .post-item-info .post-info a:hover {
	color: #56cfe1
}

.post-actions {
	display: table;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	width: 100%;
	margin-top: 32px
}

.post-actions .action {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	position: relative;
	padding: 23px 15px;
	font-size: 15px
}

.post-actions .action a:after {
	content: "";
	position: absolute;
    left: -1px;
    top: 24px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M137.4 406.6l-128-127.1C3.125 272.4 0 264.2 0 255.1s3.125-16.38 9.375-22.63l128-127.1c9.156-9.156 22.91-11.9 34.88-6.943S192 115.1 192 128v255.1c0 12.94-7.781 24.62-19.75 29.58S146.5 415.8 137.4 406.6z"/></svg>');
	height: 17px;
    width: 17px;
    background-repeat: no-repeat;
    background-position: center;
}

.post-actions .action.next-action {
	text-align: right;
	padding-right: 15px
}

.post-actions .action.next-action a:after {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M118.6 105.4l128 127.1C252.9 239.6 256 247.8 256 255.1s-3.125 16.38-9.375 22.63l-128 127.1c-9.156 9.156-22.91 11.9-34.88 6.943S64 396.9 64 383.1V128c0-12.94 7.781-24.62 19.75-29.58S109.5 96.23 118.6 105.4z"/></svg>');
	left: auto;
	right: -1px;
}

.form.post-comment {
	margin-top: 50px
}

.blog-post-comment-list-toolbar {
	width: 0;
	height: 0;
	overflow: hidden;
	margin: 0 !important
}

.blog-load-more-comment {
	margin-top: 20px
}

.blog-load-more-comment a {
	font-size: 15px;
	font-style: italic
}

.blog-load-more-comment a.loading-style {
	animation: fadeIn 1s infinite alternate
}

.blog-post-list .blog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    padding: 0;
}

.blog-post-list .blog-list .post-item-info {
	margin-bottom: 50px;
    width: calc(50% - 15px);
    border: 1px solid #eee;
}

.blog-post-list .blog-list .post-item-info .post-info {
	color: #000;
	font-size: 14px
}

.blog-post-list .blog-list .post-item-info .post-content {
	padding: 0 20px 30px
}

.blog-post-list .blog-list .post-item-info .post-image {
	position: relative;
	padding-bottom: 35%
}

.blog-post-list .blog-list .post-item-info .post-image img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover
}

.blog-post-list .blog-list .post-item-info .post-info{
    border-bottom: 1px solid #eee;
margin-bottom: 25px;
}
.blog-post-list .blog-list .post-item-info .post-image{
padding-bottom: 56.6%;
}
.blog-list .post-item-info .post-info{
background: #fff;
}

.blog-list .post-item-info .post-content .post-short-description{
min-height: 100px;
}

.blog-post-list .bottom-pagination .toolbar-amount,
.blog-post-list .bottom-pagination .limiter{
    display: none;
}

.blog-post-list .bottom-pagination .pages{
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.blog-post-list .bottom-pagination .pages .item {
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
    margin: 0 0 0 5px;
    display: inline-block;
    padding: 0;
}

.blog-post-list .bottom-pagination .pages .action{
    box-shadow: none;
    padding: 0;
}

.blog-post-list .bottom-pagination .pages strong.page,
.blog-post-list .bottom-pagination .pages a.page,
.blog-post-list .bottom-pagination .pages a.action{
    background: #fff;
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    font-weight: 500;
    padding: 0;
    border: 1px solid #eee;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-post-list .bottom-pagination .pages strong.page:hover,
.blog-post-list .bottom-pagination .pages a.page:hover,
.blog-post-list .bottom-pagination .pages a.action:hover{
    background-color: #d70000;
    color: #fff;
}

.blog-post-list .bottom-pagination .pages .current strong.page{
    background-color: #d70000;
    color: #fff;
}

.blog-post-list .bottom-pagination .pages .action.next {
    margin-left: 0;
}

.blog-post-list .bottom-pagination .pages .action.previous {
    margin-right: 0;
}

.blog-post-list .bottom-pagination .pages .action.next:before,
.blog-post-list .bottom-pagination .pages .action.previous:before{
    font-size: 11px;
    color: #000;
}

.blog-post-list .bottom-pagination .pages .action.next:hover:before,
.blog-post-list .bottom-pagination .pages .action.previous:hover:before{
    color: #fff;
}


.blog-post-list .page-title-wrapper{
    text-align: center;
    margin-bottom: 40px;
}

.blog-post-list .page-title-wrapper h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.blog-post-view .page-title-wrapper{
    text-align: center;
    margin-bottom: 40px;
}

.blog-post-view .page-title-wrapper h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 0;
}







.breadcrumbs{
    margin: 0;
    padding: 15px 0;
    max-width: 100%;
    background-color: #eee;
    margin-bottom: 30px;
}

.breadcrumbs .items{
    max-width: 85%;
    margin: auto;
    font-size: 15px;
    color: #000;
}

.breadcrumbs a{
    color: #000;
}

.breadcrumbs a:visited{
    color: #000;
}
.breadcrumbs a:hover{
    color: #d60000;
    text-decoration: none;
}

.breadcrumbs .item:not(:last-child):after{
    font-size: 10px;
    line-height: 20px;
    margin: 0 7px;
}

@media screen and (max-width: 599px) {
    .blog-post-list .bottom-pagination .pages .item{
        margin: 0 0 0 2px;
    }
}

@media screen and (max-width: 767px) {
    .blog-post-list .blog-list .post-item-info{
        margin-bottom: 25px;
        width: calc(100% - 0px);
    }  

    .blog-post-view .page-title-wrapper{
        margin-bottom: 20px;
    }

    .blog-post-view .page-title-wrapper h1{
        font-size: 24px;
    }
}