<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="catalog_category_load_after">
        <observer instance="Hdweb\Coreoverride\Observer\CategoryLoadAfter" name="hdweb_coreoverride_catalog_product_load_after"/>
    </event>
    <event name="layout_load_before">
        <observer name="hdweb_coreoverride_ensure_checkout_layout_handle"
                  instance="Hdweb\Coreoverride\Observer\EnsureCheckoutLayoutHandleObserver"
                  sortOrder="1"/>
    </event>
</config>