
.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    height: 8px;
    margin: auto;
    width: 85%;
    position: relative;
    background: #ffd9d9;
    border-radius: 5px;
}

.slider-action {
    display: grid;
    row-gap: 10px;
}

.smile-es-range-slider .actions-primary {
    font-size: 13px;
    width: auto;
}

.smile-es-range-slider .action {
    background: #d70000;
    color: #fff;
    border-radius: 40px;
    line-height: 20px;
    display: block;
    width: 85%;
    margin: auto;
    padding: 2px 0;
    text-align: center;
}

.smile-es-range-slider .action:hover,
.smile-es-range-slider .action:active {
    background: #000;
}

.ui-slider-range.ui-widget-header.ui-corner-all {
    background: #d70000;
    position: absolute;
    height: 8px;
}

.ui-slider-handle {
    position: absolute;
    top: -5px;
    height: 20px;
    width: 20px;
    background: #fff;
    display: block;
    border-radius: 100%;
    outline: 3px solid #ffa0a063;
    transform: translate(-50%, 0%);
}

.ui-slider-handle::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #d70000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-label>div {
    position: absolute;
    margin-top: -20px;
    color: #fff;
    font-size: 12px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #d70000;
    border-radius: 3px;
}

.slider-label {
    position: relative;
    width: 80%;
}

.slider-label>div:nth-child(2) {
    right: 0;
}

.smile-es-range-slider {
    margin-top: 50px;
}

.range-slider.slider.slider-action.ui-slider {
    position: relative;
    background: #d7000096;
    border-radius: 5px;
}

.bubble-label {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-price-form {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
}

.slider-price-form .slider-price-field .slider-price-label {
    font-size: 12px;
    color: #a4a4a4;
}

.slider-price-form .slider-price-field {
    width: 5rem;
}

.slider-price-form input.price {
    border: 1px solid #a4a4a4;
    border-radius: 15px;
    padding: 5px 10px;
}
