<div class="payment-option _collapsible opc-payment-additional discount-code"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Apply Discount Code'--><!-- /ko -->
        </span>
    </div>
    <div class="amcoupons-main-container payment-option-content" data-role="content" aria-labelledby="block-discount-heading">
        <form class="form form-discount" id="discount-form" data-bind="blockLoader: isLoading">
            <!-- ko foreach: { data: couponsArray, as: 'code', beforeRemove: onCouponRemove, afterAdd: onCouponAdd } -->
            <div class="amcoupons-applied-coupon">
                <!--ko text: code--><!--/ko-->
                <a href="#"
                   class="amcoupons-remove"
                   data-bind="
                       click: $parent.removeSelected.bind($parent),
                       attr: { title: $t('Remove'), 'aria-label': $t('Remove coupon') }
                   "></a>
                <span class="amcoupons-message" data-amcoupons-js="message"></span>
            </div>
            <!-- /ko -->

            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->

            <div class="payment-option-inner">
                <div class="field">
                    <div class="control">
                        <input class="input-text"
                               type="text"
                               id="discount-code"
                               name="discount_code"
                               data-validate="{'required-entry':true}"
                               data-bind="value: inputCode, attr:{placeholder: $t('Enter Your discount code')}" />
                    </div>
                </div>
                <div class="actions-toolbar">
                    <button class="amcoupons-apply action primary"
                            type="submit"
                            data-bind="'value': $t('Apply Discount'), click: apply">
                        <!-- ko i18n: 'Apply Discount'--><!-- /ko -->
                    </button>
                </div>
            </div>

            <!-- ko foreach: getRegion('captcha') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </form>
    </div>
</div>


