<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Aalogics_AttributeOptions::parent" title="Aalogics" sortOrder="60">
                    <resource id="Aalogics_AttributeOptions::attributeoptions" title="Attribute Options Add" sortOrder="1"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>