.brand-index-index .breadcrumbs {
  display: none;
}
.brand-index-index .columns .column.main {
  padding-bottom: 0px;
}
.brand-index-index .page-main {
  padding: 60px 0;
}
.brand-index-index .page-title-wrapper {
  margin-bottom: 30px;
  text-transform: uppercase;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  text-align: center;
}
.brand-index-index .page-title-wrapper h1 {
  font-size: 30px;
  font-weight: bold;
}
.all-brands .content-block p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .01em;
}
.all-brands .brand-list-wraper {
  margin-top: 30px;
}
.all-brands .brand-list-wraper .brand-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.all-brands .brand-list-wraper .brand-list {
  padding: 0;
}
.all-brands .brand-list-wraper .brand-list li {
  list-style-type: none;
  margin: 25px 0;
}
.all-brands .brand-list-wraper .brand-list li .logo-box {
  text-align: center;
}
.all-brands .brand-list-wraper .brand-list li .logo-box img {
  max-height: 50px;
  height: auto;
  width: auto;
  transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.all-brands .brand-list-wraper .brand-list li .logo-box:hover img {
  filter: grayscale(1);
}
@media screen and (max-width: 767px) {
  .brand-index-index .page-main {
    padding: 40px 0;
  }
  .brand-index-index .page-title-wrapper h1 {
    font-size: 22px;
  }
  .all-brands .brand-list-wraper .brand-title {
    font-size: 16px;
  }
}
