<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
		<tab id="mgs" translate="label" sortOrder="150">
            <label><![CDATA[MGS]]></label>
        </tab>
        <section id="mgs_ajaxnavigation" translate="label" type="text" sortOrder="146" showInDefault="1" showInWebsite="1" showInStore="1"> 
            <label>Ajax Layared Navigation</label>
            <tab>mgs</tab>
            <resource>MGS_Ajaxlayernavigation::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Ajax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="expanded_filter" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Expanded Filter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!--field id="range_price" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Range Price Slide</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field-->
				<field id="shopping_by" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove Shopping by</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="filter_by" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Filter by text</label>
                </field>
				
				<field id="button_text" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Filter Price button text</label>
                </field>
            </group>
        </section>
    </system>
</config>
