<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2018 www.chetu.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Chetu_Ajaxcart" setup_version="1.4.1">
        <sequence>
            <module name="Chetu_Ajaxsuite" />
        </sequence>
    </module>
</config>
