<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
        <add id="MGS_Blog::blog" title="Blog" module="MGS_Blog" sortOrder="80" parent="Magento_Backend::mgs" resource="MGS_Blog::blog"/>
        <add id="MGS_Blog::manage_post" title="Manage Posts" module="MGS_Blog" sortOrder="10" parent="MGS_Blog::blog" action="blog/post/" resource="MGS_Blog::manage_post"/>
        <add id="MGS_Blog::manage_comment" title="Manage Comments" module="MGS_Blog" sortOrder="20" parent="MGS_Blog::blog" action="blog/comment/" resource="MGS_Blog::manage_comment"/>
        <add id="MGS_Blog::manage_category" title="Manage Categories" module="MGS_Blog" sortOrder="30" parent="MGS_Blog::blog" action="blog/category/" resource="MGS_Blog::manage_category"/>
        <add id="MGS_Blog::configuration" title="Configuration" module="MGS_Blog" sortOrder="40" parent="MGS_Blog::blog" action="adminhtml/system_config/edit/section/blog" resource="MGS_Blog::configuration"/>
    </menu>
</config>
