<p class="amoptimizer-recommendation-container">
    <translate args="'There is no one-size-fits-all solution to these cases for all Magento sites. Each case needs'"/>
    <span class="amoptimizer-bold" translate="'a tailored approach.'"></span>
    <translate args="'So to solve this issue, you need'"/>
    <span class="amoptimizer-bold" translate="'to hire a developer'"></span>
    <translate args="'who will analyze the code and possibly manage to optimize styles especially for your website.'"/>
</p>
