<p class="amoptimizer-recommendation-container">
    <translate args="'You can solve this issue, enabling LazyLoad setting in our module. To do so, please follow the steps below'"/>:
</p>
<ol class="amoptimizer-ol-container">
    <li class="amoptimizer-li">
        <span class="amoptimizer-bold">
            <span class="amoptimizer-path" translate="'Stores'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Configuration'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Amasty Extensions'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Google Page Speed Optimizer'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Image Optimization'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Lazy Load'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Use Lazy Loading Images'"></span>
        </span>
        <translate args="'= Yes. The setting'"/>
        <span class="amoptimizer-path" translate="'Lazy Load Settings'"></span>
        <translate args="'allows you to configure lazy Load for every page type individually.'"/>
    </li>
</ol>
