<p class="amoptimizer-recommendation-container">
    <span translate="'This issue may occur due to'"></span>
    <span class="amoptimizer-bold" translate="'incorrect server settings or bad code'"></span>,
    <span translate="'so you might need extra help to deal with it. To have it fixed, you should'"></span>
    <span class="amoptimizer-bold" translate="'address your sys admin'"></span>
    <span translate="'or'"></span>
    <span class="amoptimizer-bold" translate="'developer.'"></span>
    <span translate="'The specialists will look into potential sources of the problem and solve it.'"></span>
</p>
