<p class="amoptimizer-recommendation-container">
    <translate args="'Please recheck if JS or CSS causes the problem.'"/>
    <translate args="'If the report shows there is a problem with JS'"/>,
    <translate args="'you can fix it using our extension.'"/>
    <translate args="'Please make sure'"/>
    <span class="amoptimizer-bold" translate="'Magento Production mode'"></span>
    <translate args="'is set before performing optimization. Then please enable'"/>
    <span class="amoptimizer-bold" translate="'the following features'"></span>:
</p>
<ol class="amoptimizer-ol-container">
    <li class="amoptimizer-li">
        <span class="amoptimizer-bold">
            <span class="amoptimizer-path" translate="'Stores'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Configuration'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Amasty Extensions'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Google Page Speed Optimizer'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Settings'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'JavaScript'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Amasty JS Optimization'"></span>
        </span>
        <span translate="'= Enabled.'"></span>
    </li>
    <li class="amoptimizer-li">
        <span class="amoptimizer-bold">
            <span class="amoptimizer-path" translate="'Stores'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Configuration'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Amasty Extensions'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Google Page Speed Optimizer'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Settings'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'JavaScript'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Move JavaScript To Page Bottom'"></span>
        </span>
        <span translate="'= Yes.'"></span>
    </li>
</ol>
<p translate="'In case the problem is about the CSS files, there is no one-size-fits-all solution. Each case needs a tailored approach. So to solve such issues, you need to hire a developer who will analyze the code and possibly adapt the styles especially for your website.'"></p>
