<p class="amoptimizer-recommendation-container">
    <translate args="'To Minify CSS, please follow'"/>
    <span class="amoptimizer-bold" translate="'the instructions below'"></span>:
</p>
<ol class="amoptimizer-ol-container">
    <li class="amoptimizer-li">
        <span translate="'Go to'"></span>
        <span class="amoptimizer-path" translate="'Stores'"></span>
        <span>></span>
        <span class="amoptimizer-path" translate="'Configuration'"></span>
        <span>></span>
        <span class="amoptimizer-path" translate="'Amasty Extensions'"></span>
        <span>></span>
        <span class="amoptimizer-path" translate="'Google Page Speed Optimizer'"></span>
        <span>></span>
        <span class="amoptimizer-path" translate="'Settings'"></span>
        <span>></span>
        <span class="amoptimizer-path" translate="'CSS'"></span>
        <span>></span>
        <span class="amoptimizer-path" translate="'Minify CSS Files'"></span>
        <span translate="'= Yes.'"></span>
    </li>
</ol>
