<p class="amoptimizer-recommendation-container">
    <translate args="'Our extension solves this problem. You can create the copies of these files in the sizes that fit tablets and other mobile devices. To do so, please follow'"/>
    <span class="amoptimizer-bold" translate="'the instructions below'"></span>:
</p>
<ol class="amoptimizer-ol-container">
    <li class="amoptimizer-li">
        <translate args="'Go to'"/>
        <a class="amoptimizer-link" data-bind="attr: {href: $data.linkUrl}" target="_blank">
            <span class="amoptimizer-path" translate="'Content'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Image Optimizer'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Image Folder Optimization Settings'"></span>.
        </a>
    </li>
    <li class="amoptimizer-li" translate="'Then add a new pattern for the problematic image folder.'"></li>
    <li class="amoptimizer-li">
        <translate args="'Then you need to create Image Settings for the problematic image folder and activate'"/>
        <span class="amoptimizer-bold" translate="'the following settings'"></span>:
        <span class="amoptimizer-path" translate="'Create Image for Mobile'"></span>
        <translate args="'= Yes and'"/>
        <span class="amoptimizer-path" translate="'Create Image for Tablet'"></span>
        <translate args="'= Yes, then to choose a suitable'"/>
        <span class="amoptimizer-path" translate="'Resize Algorithm'"></span>.
    </li>
</ol>
<p translate="'Now the images will be displayed correctly on tablets, smartphones and other mobile devices and weight much less.'"></p>
