<p class="amoptimizer-recommendation-container">
    <translate args="'Our extension solves this problem using special tools for image compression. Before enabling it, you need to make sure you have server utilities for image optimization installed. Here they are'"/>:
    <span class="amoptimizer-bold" translate="'JPEG optimization tool / PNG optimization tool / GIF optimization tool / WebP tool.'"></span>
    <translate args="'If you have not found any tool installed, you will need to choose the one that suits you best and set it up.'"/>
    <span class="amoptimizer-bold" translate="'Your hosting provider or system administrator'"></span>
    <translate args="'can help you with the installation. After you verify that the optimization tools are installed, please follow'"/>
    <span class="amoptimizer-bold" translate="'the steps'"></span>:
</p>
<ol class="amoptimizer-ol-container">
    <li class="amoptimizer-li">
        <translate args="'Go to'"/>
        <a class="amoptimizer-link" data-bind="attr: {href: $data.linkUrl}" target="_blank">
            <span class="amoptimizer-path" translate="'Content'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Image Optimizer'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Image Folder Optimization Settings'"></span>.
        </a>
        <translate args="'Here you need to create Image Setting for the problematic image folder and'"/>
        <span class="amoptimizer-path" translate="'enable Jpeg Tool'"></span>,
        <span class="amoptimizer-path" translate="'Png Tool'"></span>
        <translate args="'or'"/>
        <span class="amoptimizer-path" translate="'Gif Tool'"></span>
        <translate args="'settings.'"/>
    </li>
</ol>
