<p class="amoptimizer-recommendation-container">
    <translate args="'Our extension solves this problem. You can easily convert PNG and JPEG images in WebP, a new format developed by Google. Please follow'"/>
    <span class="amoptimizer-bold" translate="'the instructions below'"></span>
    <translate args="'to convert your file(s)'"/>:
</p>
<ol class="amoptimizer-ol-container">
    <li class="amoptimizer-li">
        <translate args="'Go to'"/>
        <a class="amoptimizer-link" data-bind="attr: {href: $data.linkUrl}" target="_blank">
            <span class="amoptimizer-path" translate="'Content'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Image Optimizer'"></span>
            <span>></span>
            <span class="amoptimizer-path" translate="'Image Folder Optimization Settings'"></span>.
        </a>
    </li>
    <li class="amoptimizer-li" translate="'Then add a new pattern for the problematic image folder.'"></li>
    <li class="amoptimizer-li">
        <translate args="'In the pattern move to'"/>
        <span class="amoptimizer-path" translate="'Create WebP Copy setting'"></span>
        <translate args="'= Enable and then click on'"/>
        <span class="amoptimizer-path" translate="'Save and Optimize'"></span>.
        <translate args="'That is it'"/>!
    </li>
</ol>
