<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Controller\Adminhtml\Order\VoidPayment" type="Hdweb\Coreoverride\Controller\Adminhtml\Order\VoidPayment" />
    <preference for="Magento\Sales\Controller\Adminhtml\Order\Cancel" type="Hdweb\Coreoverride\Controller\Adminhtml\Order\Cancel" />
    <type name="Magento\Sales\Controller\Adminhtml\Order\AddComment">
        <plugin sortOrder="10" name="addcommentbefore" type="Hdweb\Coreoverride\Plugin\Controller\Adminhtml\Order\AddComment" disabled="false" />
    </type>
</config>