<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="sales_order_shipment_after"
                  instance="Hdweb\Coreoverride\Observer\SalesOrderShipmentAfter" />
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="sales_order_invoice_after"
                  instance="Hdweb\Coreoverride\Observer\SalesOrderInvoiceAfter" />
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="sales_order_creditmemo_after"
                  instance="Hdweb\Coreoverride\Observer\SalesOrderCreditmemoAfter" />
    </event>
</config>