<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageWorx_OrdersGrid::grid_additional_data"
             title="Grid Colors &amp; Icons"
             translate="title"
             module="MageWorx_OrdersGrid"
             sortOrder="100"
             parent="Magento_Sales::sales_operation"
             action="mageworx_ordersgrid/gridAdditionalData"
             resource="MageWorx_OrdersGrid::grid_additional_data"/>
    </menu>
</config>
