<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageworx" sortOrder="2001">
            <label>MageWorx</label>
        </tab>
        <section id="mageworx_order_management" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Management</label>
            <tab>mageworx</tab>
            <resource>MageWorx_OrdersGrid::config_ordersgrid</resource>
            <group id="order_grid" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Orders Grid</label>
                <group id="main" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Main Settings</label>
                    <field id="sync" translate="label comment" type="button" sortOrder="2000" showInDefault="1" showInWebsite="0" showInStore="0">
                        <frontend_model>MageWorx\OrdersGrid\Block\Adminhtml\System\Config\Buttons\Sync</frontend_model>
                        <label><![CDATA[Sync orders additional data]]></label>
                    </field>
                    <field id="sync_order_grid" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label><![CDATA[Sync order grid by opening]]></label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="sync_order_count" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label><![CDATA[Count of recent orders to sync]]></label>
                        <depends>
                            <field id="mageworx_order_management/order_grid/main/sync_order_grid">1</field>
                        </depends>
                    </field>
                    <field id="cron_sync_status" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label><![CDATA[Sync order grid by cron]]></label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[When set to yes the life-time synchronization will be disabled. All orders will be synchronized every 5 minutes using cron.]]></comment>
                    </field>
                    <field id="disabled_mass_actions" translate="label comment" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label><![CDATA[Disabled mass actions in orders grid]]></label>
                        <source_model>MageWorx\OrdersGrid\Model\Config\Source\MassActions</source_model>
                        <comment><![CDATA[Disabled mass-actions will be hidden in the orders grid.]]></comment>
                    </field>
                    <field id="capture_notification_comment" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label><![CDATA[Order capture notification comment]]></label>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
