<?xml version="1.0"?>
<!--
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package Amasty_PageSpeedOptimizer
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amasty_PageSpeedOptimizer" setup_version="1.9.0">
        <sequence>
            <module name="Magento_Store"/>
            <module name="Amasty_ImageOptimizerUi"/>
            <module name="Amasty_LazyLoadUi"/>
        </sequence>
    </module>
</config>
