<div class="amoptimizer-tab-content"
     data-bind="css: isMobile ? '-mobile' : '-desktop', attr: {'data-amoptimizer-js': isMobile ? 'mobile' : 'desktop'},
                visible: (isMobile && $parent.isShowMobile) || (!isMobile && !$parent.isShowMobile())">
    <div class="amoptimizer-tab-container">
        <ul class="amoptimizer-links-container" data-bind="css: {'-wide': !$parent.isShowRecommendations()}" data-amoptimizer-js="link-container">
            <!-- ko foreach: contentData -->
            <li class="amoptimizer-link-block" data-bind="click: $parent.linkClick.bind($parent), css: {'-active': !$index()}">
                <span class="amoptimizer-title" data-bind="text: title"></span>
                <!-- ko if: displayValue -->
                <span class="amoptimizer-separator">|</span>
                <span class="amoptimizer-time" data-bind="text: displayValue, css: {'-red': score < 0.5, '-yellow': score > 0.49}"></span>
                <!-- /ko -->
            </li>
            <!-- /ko -->
        </ul>
        <!-- ko if: $parent.isShowRecommendations -->
            <!-- ko foreach: contentData -->
            <div class="amoptimizer-recommendation-block"
                 data-bind="css: {'-hide': $index}, attr: {'data-amoptimizer-js': id}, style: {'max-height': $parents[1].maxHeight()}">
                <div class="amoptimizer-google-recommendation">
                    <p class="amoptimizer-title-container">
                        <span class="amoptimizer-name" data-bind="text: title"></span>
                        <!-- ko if: displayValue -->
                        <span class="amoptimizer-separator">|</span>
                        <span class="amoptimizer-time" data-bind="text: displayValue, css: {'-red': score < 0.5, '-yellow': score > 0.49}"></span>
                        <!-- /ko -->
                    </p>
                    <!-- ko if: $data.description.hasLink -->
                    <div class="amoptimizer-recommendation">
                        <!-- ko foreach: $data.description -->
                        <span data-bind="text: prevText"></span>
                            <!-- ko if: link != '' -->
                            <a data-bind="attr:{ href: link, title: linkTitle }, text: linkTitle" target="_blank"></a>
                            <!-- /ko -->
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <!-- ko ifnot: $data.description.hasLink -->
                    <p class="amoptimizer-recommendation" data-bind="text: description.description"></p>
                    <!-- /ko -->
                </div>
                <!-- ko if: $data.isAmastyDescription -->
                <div class="amoptimizer-amasty-recommendation">
                    <div class="amoptimizer-title-container">
                        <span class="amoptimizer-name" data-bind="i18n: 'Recommendations:'"></span>
                    </div>
                    <!-- ko template: $parent.getRecommendationTemplate($data.id) --><!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
