<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Meetanshi\WorldpayHp\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="worldpay_hpform" xsi:type="const">Meetanshi\WorldpayHp\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="worldpay_hp_config_provider" xsi:type="object">Meetanshi\WorldpayHp\Model\WorldpayHpConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="MeetanshiWorldpayHpIframeCcConfigProvider" type="Magento\Payment\Model\IframeConfigProvider">
        <arguments>
            <argument name="methodCode" xsi:type="const">Meetanshi\WorldpayHp\Model\Payment::CODE</argument>
        </arguments>
    </virtualType>
</config>
