<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageworx_order_management>
            <order_base>
                <main>
                    <checkout_path>checkout</checkout_path>
                </main>
            </order_base>
        </mageworx_order_management>
    </default>
</config>
