<div class="ship_info">
    <div class="group-title">
        <h2>
            <span>shipment INFORMATION</span>
        </h2>
    </div>
    <div id="shipping-detail">
        <div class="shipping-information">
                <div class="">
                    <span id="custom-installer-name"></span>
                    <span id="custom-installer-city"></span>
                </div>
                <div class="shipping-date-div">
                    <span>Delivery Date & Time     <span id="shipping-date-ordersummary"></span>
                    <span id="shipping-time-ordersummary"></span>
                    </span>
                </div>
            </div>
    </div>
</div>

