<?xml version="1.0"?>
<!--
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package Amasty_PageSpeedOptimizer
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Asset\MergeStrategy\Direct">
        <plugin name="Amasty_PageSpeedOptimizer::MoveFont" type="Amasty\PageSpeedOptimizer\Plugin\MoveFont" />
    </type>
</config>
