<?xml version="1.0"?>
<!--
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package Amasty_PageSpeedOptimizer
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="amasty_pagespeed_after_process_page_result">
        <observer name="Amasty_PageSpeedOptimizer::AddLinkHeader" instance="Amasty\PageSpeedOptimizer\Observer\AddLinkHeader" />
    </event>
</config>
