<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Hdweb. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="hdweb_booking" frontName="hdweb_booking">
            <module name="Hdweb_Booking" />
        </route>
    </router>
</config>