<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ordernumber>
            <order>
                <enabled>0</enabled>
                <format>ORD-{yyyy}-{counter}</format>
                <count>1</count>
                <increment>1</increment>
                <padding>6</padding>
                <reset>0</reset>
            </order>
            <invoice>
                <enabled>0</enabled>
                <same>1</same>
                <format>INV-{yyyy}-{counter}</format>
                <count>1</count>
                <increment>1</increment>
                <padding>6</padding>
                <prefix>INV-</prefix>
                <replace_with>ORD-</replace_with>
                <reset>0</reset>
            </invoice>
            <shipment>
                <enabled>0</enabled>
                <same>1</same>
                <format>SHI-{yyyy}-{counter}</format>
                <count>1</count>
                <increment>1</increment>
                <padding>6</padding>
                <prefix>SHIP-</prefix>
                <replace_with>ORD-</replace_with>
                <reset>0</reset>
            </shipment>
            <creditmemo>
                <enabled>0</enabled>
                <same>1</same>
                <format>MEMO-{yyyy}-{counter}</format>
                <count>1</count>
                <increment>1</increment>
                <padding>6</padding>
                <prefix>MEMO-</prefix>
                <replace_with>ORD-</replace_with>
                <reset>0</reset>
            </creditmemo>
        </ordernumber>
    </default>
</config>