<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Sales\Model\Order\Pdf\Invoice" type="Hdweb\Coreoverride\Model\Order\Pdf\Invoice" />
	<preference for="Magento\Sales\Model\Order\Pdf\Items\Invoice\DefaultInvoice" type="Hdweb\Coreoverride\Model\Order\Pdf\Items\Invoice\DefaultInvoice"/>
	<type name="Magento\Payment\Model\MethodList">
        <plugin sortOrder="5" name="disablePaymentmethod" type="Hdweb\Coreoverride\Plugin\Model\Method\MethodAvailable" disabled="false" />
    </type>
    <preference for="Magento\Checkout\Controller\Index\Index" type="Hdweb\Coreoverride\Controller\Checkout\Index\Index" />
    <type name="Magento\Customer\Controller\Ajax\Login">
        <plugin sortOrder="6" name="ajaxLoginBefore" type="Hdweb\Coreoverride\Plugin\Controller\Ajax\Login" disabled="false" />
    </type>
    <type name="Smile\ElasticsuiteTracker\Model\ResourceModel\EventQueue">
        <plugin sortOrder="10"
                name="hdweb_elasticsuite_tracker_event_queue_schema_guard"
                type="Hdweb\Coreoverride\Plugin\ElasticsuiteTracker\ResourceModel\EventQueuePlugin" />
    </type>
    <type name="Smile\ElasticsuiteTracker\Model\EventQueue">
        <plugin sortOrder="10"
                name="hdweb_elasticsuite_tracker_event_queue_safe_count"
                type="Hdweb\Coreoverride\Plugin\ElasticsuiteTracker\Model\EventQueuePlugin" />
    </type>
    <type name="Smile\ElasticsuiteTracker\Model\System\Message\WarningAboutInvalidTrackerEvents">
        <plugin sortOrder="10"
                name="hdweb_elasticsuite_tracker_invalid_events_message_guard"
                type="Hdweb\Coreoverride\Plugin\ElasticsuiteTracker\System\Message\WarningAboutInvalidTrackerEventsPlugin" />
    </type>
</config>
