<?xml version="1.0"?>
<!--
/**
 * Webcastle_CategoryImportExport
 *
 * @category   Webcastle
 * @package    Webcastle_CategoryImportExport
 * @author     Anjaly K V - Webcastle Media
 * @copyright  2023
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Webcastle_CategoryImportExport::categoryimportexport" title="Import Categories" module="Webcastle_CategoryImportExport" sortOrder="30" action="webcastle_categoryimportexport/categoryImport/new" resource="Webcastle_CategoryImportExport::categoryimportexport" parent="Magento_Backend::system_convert"/>
        <add id="Webcastle_CategoryImportExport::categoryexport" title="Export Categories" module="Webcastle_CategoryImportExport" sortOrder="32" action="webcastle_categoryimportexport/categoryExport/new" resource="Webcastle_CategoryImportExport::categoryimportexport" parent="Magento_Backend::system_convert"/>
    </menu>
</config>
