<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Paypal order place success -->
    <event name="paypal_express_place_order_success">
        <observer
                name="mageworx_orders_grid_sync_order_data"
                instance="MageWorx\OrdersGrid\Observer\Synchronize"
                shared="false"
                />
    </event>
    <!-- Tax save -->
    <event name="core_abstract_save_commit_after">
        <observer
                name="mageworx_orders_grid_sync_tax_data"
                instance="MageWorx\OrdersGrid\Observer\SynchronizeTax"
                shared="false"
                disabled="false"
        />
    </event>
    <event name="core_abstract_delete_commit_after">
        <observer
                name="mageworx_orders_grid_sync_tax_data"
                instance="MageWorx\OrdersGrid\Observer\SynchronizeTax"
                shared="false"
                disabled="false"
        />
    </event>
</config>
