<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tabby>
            <tabby_api>
                <debug>1</debug>
                <use_redirect>1</use_redirect>
                <public_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <local_currency>0</local_currency>
                <payment_action>authorize</payment_action>
                <order_status>pending_payment</order_status>
                <authorized_status>processing</authorized_status>
                <captured_status>processing</captured_status>
                <mark_complete>0</mark_complete>
                <order_action_failed_payment>delete</order_action_failed_payment>
                <abandoned_timeout>20</abandoned_timeout>
                <capture_on>order</capture_on>
                <create_pending_invoice>0</create_pending_invoice>
                <product_promotions>1</product_promotions>
                <cart_promotions>1</cart_promotions>
                <promo_theme></promo_theme>
                <promo_limit>0</promo_limit>
                <promo_min_total>0</promo_min_total>
                <show_logo>1</show_logo>
                <hide_methods>0</hide_methods>
                <logo_color>green</logo_color>
                <disable_for_sku></disable_for_sku>
                <order_history_use_phone>1</order_history_use_phone>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <debugReplaceKeys>PUBLIC_KEY,SECRET_KEY</debugReplaceKeys>
                <group>tabby</group>
                <use_history></use_history>
            </tabby_api>
        </tabby>
        <payment>
            <tabby_checkout>
                <active>0</active>
                <title>Pay in 14 days</title>
                <description_type>2</description_type>
                <sort_order>1</sort_order>
                <model>Tabby\Checkout\Model\Method\Checkout</model>
                <group>tabby</group>
            </tabby_checkout>
            <tabby_installments>
                <active>1</active>
                <title>Pay in 4. No interest, no fees.</title>
                <description_type>0</description_type>
                <card_theme>black</card_theme>
                <sort_order>0</sort_order>
                <model>Tabby\Checkout\Model\Method\Installments</model>
            </tabby_installments>
            <tabby_cc_installments>
                <active>1</active>
                <title>4 interest-free credit card payments</title>
                <description_type>0</description_type>
                <card_theme>black</card_theme>
                <sort_order>0</sort_order>
                <model>Tabby\Checkout\Model\Method\CCInstallments</model>
            </tabby_cc_installments>
        </payment>
    </default>
</config>
